{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Image</th>
                <th>Name</th>
                <th>Colour</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
                <th>Update</th>
                <th>Remove</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                {% set discount = (product.discount/100) * product.price|float %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td> <img src="{{url_for('static', filename='images/' + product.image)}}" alt="{{product.name}}" width="50" height="45"> </td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="post">
                    <td>
                        {% set colours = product.colours.split(',') %}
                        <label for="colours">Colours</label>
                        <select name="colour" id="colour">
                            <option value="{{product.colour}}" style="display: none;">{{product.colour|capitalize}}</option>
                            {% for colour in colours %}
                            {% set col = colour.split(':') %}
                        <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                        
                        {% endfor %}
                        </select>

                 
                    
                    </td>
                    <td>${{product.price}}</td>
                    <td> <input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}"> </td>
                    {% if product.discount > 0 %}
                    <td>{{product.discount}}% &nbsp; is {{discount}}  </td>
                    {% else %}
                    <td></td>
                     {% endif %}
                    {% set subtotal = product.quantity|int * product.price|float %}
                    <td>{{"%0.2f"|format((subtotal|float) - discount|float)  }}</td>
                    <td> <button type="submit" class="btn btn-sm btn-info"> Update </button> </td>
                </form>
                    <td>  <a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">Remove</a> </td>
                </tr>
                {% endfor %}

                
            </tbody>
        </table>

        <table class="table table-sm">
        
                <tr>
              
                    <td>  <a href="{{url_for('get_order')}}" class="btn btn-sm btn-success">Check out</a> </td>
                    <td colspan="3"> <h4> Tax: ${{tax}} </h4></td>
                    <td colspan="4"> <h4>Grand Total: ${{grandtotal}}  </h4></td>
                    <td> <a href="{{url_for('clearcart')}}" class="btn btn-sm btn-danger float-xl-end">Clear cart</a> </td>
                </tr>
       
        </table>
    </div>

</div>
</div>
{% endblock %}
